<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

           1.Cind e capslock on la register este un bag !!
           2.
        
           1. De facut uploade.
           2. De facut tabel pizza + id usser si legetura.
           3 Pagina de start (user + addmin )
           http://www.pizzahutdelivery.ro/pizza/pizza-rodeo/size_medium/base_trad
        4.Noutati Si evenimente (de lasat spatiu )
    </body>
</html>
